{% extends 'layouts/base_coreui_dashboard.html' %}

{% block title %}Vim{% endblock %}

{% block body %}

<br>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
		  <div class="card-header">
		    <i class="fa fa-align-justify"></i> Vim</div>
		  <div class="card-body">
		    <table class="table table-responsive-sm table-striped">
		      <thead>
		        <tr>
		          <th>name</th>
		          <th>uuid</th>
		          <th>auth url</th>
		          <th>created at</th>
		          <th>type</th>
		          <th>actions</th>
		        </tr>
		      </thead>
		      <tbody class="vim-table-tpl">
		       
	        	<script id="vim-table" type="text/x-handlebars-template">
	        	{% raw %}
        		{{#each this}}
    			<tr class="vim-trow-{{_id}}">
    				<td>{{name}}</td>
    				<td>{{_id}}</td>
    				<td>{{auth_url}}</td>
    				<td>{{created_at}}</td>
    				<td>{{type}}</td>
    				<td>
    					<div class="btn-group mr-2" role="group" aria-label="First group" data-uuid="{{_id}}" data-name="{{name}}">
							<button class="btn btn-secondary btn-inspect" type="button" data-toggle="modal" data-target="#inspect-modal"><i class="icons font-lg d-block cui-code"></i></button>
							<button class="btn btn-secondary btn-edit" type="button"><i class="icons font-lg d-block cui-pencil"></i></button>
							<button class="btn btn-secondary btn-rm" type="button"><i class="icons font-lg d-block cui-trash"></i></button>
						</div>
    				</td>
        		</tr>
    			{{/each}}
    			{% endraw %}
	           </script>

		      </tbody>
		    </table>
		  </div>
		</div>
	</div>
</div>
<!-- /.row-->


<!-- Inspect Modal -->
<div class="modal fade" id="inspect-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-textarea">
			<!-- codemirror will be initialized here -->
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>




{% endblock %}