<!DOCTYPE html>

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>{% block title %}{% endblock %}</title>
    <!-- Icons-->
    <link href="{{ url_for('static', filename='node_modules/@coreui/icons/css/coreui-icons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
    <!-- Main styles for this application-->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/lds-ring.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet">

    <!-- css file for toastr js -->
    <link href="{{ url_for('static', filename='scripts/toastr/toastr.min.css') }}" rel="stylesheet">
    <!-- css file for codemirror js -->
    <link href="{{ url_for('static', filename='scripts/codemirror/codemirror.css') }}" rel="stylesheet">
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show" data-username="{{ current_user.username }}">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="navbar-brand-full" src="{{ url_for('static', filename='images/katana-logo.svg') }}" width="115" height="33" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="{{ url_for('static', filename='images/katana-logo-no-text.svg') }}" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none mr-4">
          <a id="logout-link" href="{{ url_for('AuthView:delete') }}" data-next="{{ url_for('user.login') }}">
                Logout
              </a>
        </li>
      </ul>
      
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="nav-icon icon-speedometer"></i> Dashboard
              </a>
            </li>
            <li class="nav-title">Infrastructure</li>
            <li class="nav-item">
              <a class="nav-link" href="/vim">
                <i class="nav-icon cui-cloud"></i> VIM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wim">
                <i class="nav-icon fa fa-wifi"></i> WIM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nfvo">
                <i class="nav-icon fa fa-server"></i> NFVO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ems">
                <i class="nav-icon cui-phone"></i> EMS</a>
            </li>
            <li class="nav-title">Slicing</li>
            <li class="nav-item">
              <a class="nav-link" href="/slices">
                <i class="nav-icon cui-layers"></i> Slices</a>
            </li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <!-- Breadcrumb-->
        <!-- <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Admin</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li> -->
          <!-- Breadcrumb Menu-->
          <!-- <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i>  Dashboard</a>
              <a class="btn" href="#">
                <i class="icon-settings"></i>  Settings</a>
            </div>
          </li>
        </ol> -->
        <div class="container-fluid">
          <div class="animated fadeIn">
            {% block body %}{% endblock %}
          </div>
        </div>
      </main>
      
    </div>
    <footer class="app-footer">
      <div>
        <a href="https://5genesis.eu" target="blank">5GENESIS</a>
        <span>&copy; 2019 Slice Manager</span>
      </div>
      <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
      </div>
    </footer>

    <!-- CoreUI and necessary plugins-->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/pace-progress/pace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/@coreui/coreui/dist/js/coreui.min.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/handlebars-v4.1.2.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/toastr/toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/codemirror/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/codemirror/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/codemirror/autorefresh.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js-yaml/js-yaml.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/vim.js') }}"></script>
  </body>
</html>
