/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;

  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;

  height: 60px;
}

/* Margin and padding
-------------------------------------------------- */
.tiny-margin-bottom {
  margin-bottom: 5px;
}

.md-margin-bottom {
  margin-bottom: 40px;
}

.lg-margin-bottom {
  margin-bottom: 60px;
}

.lg-margin-top {
  margin-top: 60px;
}

.md-margin-top {
  margin-top: 40px;
}

.sm-margin-top {
  margin-top: 20px;
}

.tiny-margin-top {
  margin-top: 5px;
}

/* Nav
-------------------------------------------------- */
.nav-withauth {
  display: none;
}

/* Forms
-------------------------------------------------- */
#form_error {
  display: none;
}
